main, header, footer, figcaption, section, div, ul, li, h2, h3, p, a {
    padding: 0;
    margin: 0;
    font-size: 100%;
    font-family: 'Source Sans Pro', sans-serif;
    list-style: none;
}

html,
body {
    font: 100% 'Source Sans Pro', sans-serif;
}

html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body{
    padding-top: 66px;
}

header {
    position: fixed;
    background-color: white;
    top: 0;
    left: 0;
    width: 100%;
    height: 66px;
    line-height: 66px;
    box-shadow: 0 7px 7px rgba(0,0,0,.05);
    text-transform: capitalize;
}

h1, h2, h3, p {
    color: #3d3d3d;
}

h1{
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 0;
}

h2{
    font-size: 4.1rem;
    font-weight: 500;
    line-height: 0.8;
    padding-top: 0.5%;
    margin-bottom: 3%;
}

h3{
    font-size: 3rem;
    font-weight: 300;
}

a{
    text-decoration: none;
}

p{
    font-size: 1.2rem;
}
a:link, a:visited{
    color: #3d3d3d;
}

a:hover, a:focus{
    color: #f14848;
}

header nav {
    float: right;
}

.top-nav ul li ul{
    display: none;
}

.top-nav ul li:hover > ul{
    display: inline-block;
    height: 148px;
}

.top-nav ul, .top-nav{
    display: inline-block;
    float: right;
}

.top-nav li{
    float: left;
}

.top-nav a:active,
.top-nav #selected{
    font-weight: bold;
    color: #f14848;
}

.top-nav ul ul{
    position: absolute;
    top: 66px;
    left: 0;
    width: 100%;
    background-color: white;
    opacity: 0.98;
}

.top-nav ul ul ul{
    position: absolute;
    top: 148px;
    left: 0;
    width: 100%;
    background-color: white;
    opacity: 0.98;
}

.top-nav ul ul li{
    width: 33.333333%;
    float: left;
    text-align: center;
    text-transform: uppercase;
    font-size: 2.5rem;
    height: 148px;
    line-height: 148px;
}

.top-nav ul ul ul li{
    width: 50%;
    float: left;
    text-align: center;
    text-transform: uppercase;
    font-size: 2.5rem;
    height: 148px;
    line-height: 148px;
    word-spacing: 0%;
}

.inside-menu:link, .inside-menu:visited, .figure-section h4{
    color:#7B7A7A;
    height: 100%;
    width: 100%;
    line-height: 148px;
    font-weight: 300;
    display: inline-block;
}

.inside-menu:hover, .inside-menu:focus, .inside-menu:active {
    color: white;
    background-color:#f14848;
    height: 100%;
    width: 100%;
    font-weight: 300;
    line-height: 148px;
    display: block;
}

.inside-menu span{
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
}

.upper-logo{
    line-height: 66px;
    display: inline-block;
    height: 66px;
    padding-left: 5px;
}

.upper-logo img{
    display: inline-block;
    width: 100%;
    vertical-align: middle;
    padding-left: 10px;
}

.top-nav .layer-one{
    padding: 0 10px;
    display: inline-block;
    height: 100%;
    font-weight: 300;
    line-height: 66px;
    font-size: 1.2rem;
}

.red-button:link,
.red-button:visited{
    display: inline-block;
    color: #fff;
    background-color: #F14848;
    border-radius: 20px;
    margin: 5px 5px;
    line-height: 30px;
    letter-spacing: 0.1em;
    font-size: 0.75rem;
}

.split .white-button{
    color: #F14848;
    background-color: white;
    border-radius: 20px;
    padding: 5px 5px;
    line-height: 30px;
    letter-spacing: 0.1em;
    font-size: 0.75rem;
}

.white-button:hover, .red-button:hover {
    transform: translateY(-3px);
    box-shadow: 0 12px 32px rgba(0,0,0,.15);
}

.main{
    background-image: url("../assets/other/homepage-featured-new-1920x745.jpg");
    background-repeat: no-repeat;
    height: 38.322vw;
    text-align: center;
    background-size: cover;
    padding-top: 10%;
}

.main h1, .main h2{
    color: white;
}

.main .red-button{
    padding: 0.25% 2%;

}

.why{
    height: 28.8vw;
    display: inline-block;
    width: 100%;
    text-align: center;
}

.why-content{
    display: inline-block;
    padding-top: 5%;
}

.why-content p{
    padding: 3% 0;
    font-weight: 300;
    font-size: 1.4rem;
}

.why-content h3{
    text-transform: uppercase;
    font-size: 3.5rem;
}

.why-content .red-button{
    width: 30%;
    height: 30%;
}

.figure-section, .figure-section h3, .figure-section p{
    background-color: #1E2024;
    color: white;
    font-size: 1.8rem;
}

.figure-section{
    height: 474px;
    line-height: 474px;
}

.figure-section p{
    font-size: 1.2rem;
}

.figure-section div{
    display: inline-block;
    line-height: 1;
    vertical-align: middle;
}

.figure-section label{
    color: #606060;
    font-weight: 300;
    display: block;
    padding-bottom: 10px;
}

.middle figure{
    display: none;
    position: absolute;

}

.figure-section label:hover, .figure-section label::selection{
    color: #f14848;
}

/*.figure-section .middle label:checked > figure {
    display: inline-block;
    position: absolute;
    top:0;
    left: 0;
}

.figure-section .middle [type="radio"]:checked > figure{
    display: block;
    position: absolute;
    top:0;
    left: 0;
}*/

.figure-section .left , .figure-section .middle, .figure-section .right {
    display: inline-block;
    flex-grow: 1;
}

.figure-section .middle {
    padding-left: 2%;
    width: 50%;
    position: relative;
}

.figure-section .left{
    text-align: left;
    width: 30%;
    padding: 0 2%;
}

.figure-section .left h3{
    font-size: 2rem;
    font-weight: 300;
    padding: 10%;
    text-transform: uppercase;
}

.figure-section .left p{
    padding: 10%;
    padding-top: 0;
}

/*[type="radio"] {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px; margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

input.checked[type="radio"] {
    visibility:hidden;
}*/

.figure-section label:hover + figure{
    position: absolute;
    display: inline-block;
    right: -342px;
    bottom: -150px;
}

.split{
    display: inline-block;
    width: 100%;
    height: 41vw;
}

.split .red-side, .split .white-side {
    width: 50%;
    float: left;
    height: 100%;
}

.red-side-img{
    display: inline-block;
    width: 45%;
    margin-left: 15%;
    margin-top: 50%;
}

.red-side-img h3{
    text-transform: uppercase;
    font-size: 2.5rem;
}

.red-side-img p{
    font-size: 1rem;
    text-transform: capitalize;
    padding-bottom: 5%;
}

.red-side-img .white-button{
    display: inline-block;
    padding: 2% 7%;
    text-transform: uppercase;
}

.split .red-side{
    background: url("../assets/other/ic_EI_cloud_2_home_page.png"), url("../assets/other/home-tv-service-bg1.png");
    background-repeat: no-repeat;
    background-size: 50%, cover;
    background-position: 30% 20% ,center;
    height: 41vw;

}

.split .red-side h3, .split .red-side p{
    color: white;
}

.split .white-side {
    background-image: url("../assets/other/ic-stb-screens.png"), url("../assets/other/home-tv-service-bg2.png");
    background-repeat: no-repeat;
    background-size: 40%, cover;
    background-position: 15% 15% ,center;
    height: 41vw;
}

.white-side-img{
    display: inline-block;
    width: 80%;
    margin-left: 8%;
    margin-top: 50%;
}

.white-side-img h3{
    text-transform: uppercase;
    font-size: 2.5rem;
}

.white-side-img p{
    font-size: 1rem;
    text-transform: capitalize;
    padding-bottom: 2%;
}

.white-side-img .red-button{
    display: inline-block;
    padding: 2% 5%;
    text-transform: uppercase;
    margin: 0;
}

.tv {
    width:100%;
    height: 580px;
    line-height: 580px;
}

.tv div{
    display: inline-block;
    line-height: 1;
    vertical-align: middle;
    width: 20%;
    height: 50%;
    margin: 0 5%;
}

.tv img {
    width: 53vw;
    float: right;
    padding-top: 4%;
}

.floats{
    width: 100%;
    height: 486px;
    position: relative;
    display: block;
}

.sixty{
    width: 60%;
    height: 100%;
    float: left;
    position: absolute;
    left: 0;
    top: 0;
}

.forty{
    width: 40%;
    height: 100%;
    float: left;
    text-transform: uppercase;
    font-size: 3.7rem;
    padding-left: 3%;
    padding-top: 1%;
    font-weight: 300;
    background-color: #efefef;
    position: absolute;
    right: 0;
    top: 0;
}

.forty img{
    width: 36vw;
    float: right;
}

.line-one{
    height: 50%;
    width: 100%;
    float: left;
}

.line-one h3{
    width: 65%;
    height: 100%;
    float: left;
    text-transform: uppercase;
    font-size: 3.5rem;
    padding-top: 12%;
    padding-left: 5%;
    font-weight: 300;
}

.line-one a {
    width: 35%;
    height: 100%;
    float: left;
    color: white;
    padding: 15% 2% 1%;
    font-weight: 300;
    font-size: 1.5rem;
}

.line-two{
    height: 50%;
    width: 100%;
    float: left;
}

.line-two ul{
    height: 100%;
    width: 30%;
    float: left;
    background-color: #efefef;
}
.line-two .line-two-right{
    height: 100%;
    width: 70%;
    padding-top: 3%;
    padding-left: 3%;
    text-transform: uppercase;
    font-size: 1.3rem;
    font-weight: 300;
    float: left;
    background-color: #e8e8e8;
}

.line-two-right img{
    padding-left: 17%;
    vertical-align: middle;
    display: inline-block;
}

.download {
    background-color: #F14848;
    color: white;
}

.blog {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 35.5vw;
    background-color: black;
}

.blog h3, .blog p, .blog a {
    color: white;
    font-weight: 300;
}

.blog ul{
    height: 35.5vw;
}

.blog li:nth-child(1){
    background-color: #F14848;
}

.blog li:nth-child(2) .bg{
    background: url("../assets/blog/ibc_post_EI-750x508.png") no-repeat center ;
    opacity: .5;
}

.blog li:nth-child(3) .bg{
    background: url("../assets/blog/IMG_9294-750x563.jpeg") no-repeat center ;
    opacity: .5;
}

.blog li:nth-child(4) .bg{
    background: url("../assets/blog/Image-Blog-Yoav_356121362-copy-750x563.jpg") no-repeat center ;
    opacity: .5;
}

.blog li:nth-child(5) .bg{
    background: url("../assets/blog/post_tv_connect-750x508.jpeg") no-repeat center ;
    opacity: .5;
}

.blog li:nth-child(6) .bg{
    background: url("../assets/blog/post_quality-750x508.jpeg") no-repeat center ;
    opacity: .5;
}

.blog li:active .bg, .blog li:hover .bg{
    opacity: 1;
}

.blog li{
    display: inline-block;
    height: 35.5vw;
    float: left;
    width: 16.66666667%;
    position: relative;
    overflow: hidden;
}

.blog li div{
    height: 100%;
}

.blog li a{
    height: 100%;
    display: inline-block;
}

.blog .blog-text p{
    position: absolute;
    bottom: 0;
}

.blog .read{
    display: block;
    background-color: #F14848;
    height: 60px;
    line-height: 40px;
    width: 100%;
    text-align: center;
    margin: 2%;
    position: absolute;
    top: 100%
}

.blog li:hover .read{
    bottom: 0;
    margin: 0;

}

.blog .read{
    transition-property: top;
    transition-duration: 0.2s;
}

.blog-text-first{
    padding-bottom: 2%;
    padding-left: 12%;
    height: 15vw;
    padding-top: 120%;
    text-transform: uppercase;
}

.blog-text-first h3{
    font-size: 3.7rem;
}

.sub-footer .bottom-menu a{
    color: white;
}

.sub-footer a:hover, .sub-footer a:focus, .figure-section h4:hover, .figure-section h4:focus {
    color: #F14848;
}
.sub-footer .bottom-menu-main:hover, .sub-footer .bottom-menu-main:focus{
    color:white;
}

.site-footer *{
    display: inline-block;
}

.site-footer {
    background-color: #1E2024;
    color: white;
    height: 100%;
}

.sub-footer{
    margin: auto;
    height: 200px;
    width: 90%;
    display: block;
    max-width: 1230px;

}
.footer{
    background-color: #151515;
    height: 50px;
    line-height: 50px;
    width: 100%;
    bottom: 0;
}

.footer-design{
    font-weight: 100;
    height: 30px;
    line-height: 30px;
    font-size: 2px;
    width: 90%;
    display: block;
    margin: auto;
    max-width: 1230px;
    overflow: hidden;
}

.footer-design div>p{
    padding-right: 1.5%;
    border-right: white 1px solid;
}

.footer-design div>a{
    padding-right: 1.5%;
    padding-left: 1.5%;
    border-right: white 1px solid;
}

.footer-design div>a:last-child{
    border: none;
}

.footer-design>p{
    padding-left: 3%;
    padding-right: 5%;
}

.site-footer .footer a{
    color: white;
    font-weight: 100;
}
.footer p{
    color: white;
}
.footer a:hover, .footer a:focus {
    font-weight: bold;
}

@media (max-width: 700px) {
    .top-nav {
        display: none;
    }
}
/*@media (max-width: 1126px){
    h1 {
        font-size: 2.5rem;
    }
}*/

@media (max-width: 1200px){
    .sub-footer, .footer-design{
        max-width: 880px;
    }
}
@media (max-width: 990px){
    .sub-footer, .footer-design{
        max-width: 660px;
    }
}

